<button class="btn btn-success pull-right mb-3" (click)="abrirModal(template)">Nova tarefa</button>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Nova tarefa</h4>
        <button type="button" class="close btn btn-outline-dark pull-right" aria-label="Close" (click)="modal?.hide()">
            <i class="fa fa-remove"></i>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="formNew" (keyup.enter)="$event.preventDefault()">
            <div class="form-group">
                <label for="dstitulo">Título</label>
                <input type="text" class="form-control" id="dstitulo" formControlName="dstitulo"/>
            </div>
            <div class="form-group">
                <label for="dsdescricao">Descrição</label>
                <textarea class="form-control" id="dsdescricao" formControlName="dsdescricao"></textarea>
            </div>
            <div class="form-group">
                <label for="dtcriacao">Data criação</label>
                <input type="datetime-local" class="form-control" id="dtcriacao" formControlName="dtcriacao"/>
            </div>
            <div class="form-group">
                <label for="dtconcluido">Data conclusão</label>
                <input type="datetime-local" class="form-control" id="dtconcluido" formControlName="dtconcluido"/>
            </div>

            <div class="form-group">
                <label for="iestatus">Status</label>
                <select name="iestatus" class="form-control" id="status" formControlName="iestatus">
                    <option value="P">Pendente</option>
                    <option value="F">Concluída</option>
                </select>
            </div>
            <br>
            
            <div class="d-flex justify-content-center">
                <button class="btn btn-primary" [disabled]="formNew.invalid" (click)="salvar()">
                    Salvar
                </button>
            </div>
        </form>
    </div>
</ng-template>